.Footer {
  background-color: var(--color-clean-5);
  border-top: 1px solid rgba(21, 191, 253, 0.7);
}

.footerGrid {
  max-width: var(--app-max-width);
  margin: 0 auto;
  padding: 33px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.address {
  font-style: inherit;
}

.titleGroup {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.companyLinks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px 145px;
  height: 100px;
}

.link {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
