.title {
  margin-bottom: 56px;
}

.secondCard {
  margin-top: -51px;
}

.info {
  position: relative;
  margin-top: 119px;
}

.infoFrontend {
  position: absolute;
  bottom: 0;
  margin-left: 100px;
  width: 300px;
  overflow: visible;
}
