.line {
  margin-top: 165px;
  width: 4px;
  background: var(--color-linear-2);
  position: relative;

  > :last-child {
    margin-bottom: 0;
  }
}

.card {
  min-width: 620px;
  height: 0;
  transform: translate(-601px, 0);
}

.right {
  margin-top: 100px;
  margin-bottom: 224px;
  transform: translate(-15px, 0);
  flex-direction: row-reverse;
}

.reverseArrow {
  transform: rotate(180deg);
}
